.main{
  background: linear-gradient(0deg,white,#cf7171,#7cd5d5);
  height: 100vh;
  width: 100vw;
}

h1{
  text-align: center;
  text-shadow: 3px 2px 2px aqua;
  font-size: 3.0rem;
}


.form{
  display: flex;
  justify-content: center;
  align-items: center;
}