html{
  font-size: 62.5%;
}

*{
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width:425px) {

  html{
    font-size: 36.5%;
  }
  
}


@media screen and (max-width:915px) {

  html{
    font-size: 38.5%;
  }
  
}


